<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:fg="http://fags/jsf/components"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:o="http://omnifaces.org/ui"
    template="/fragments/base_title_content.xhtml"
    >

    <ui:define name="content-title">
        Validar Factura
    </ui:define>

    <ui:define name="content-body">
        <div class="card mb-5 shadow-sm">
            <div class="card-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2">
                            <label class="font-weight-bold">Nro. Documento</label>
                        </div>
                        <div class="col-md-4">
                            <fg:text value="#{vValidarFactura.factura.nroDocumento}" coalesce="#{bFormat.nd}" />
                        </div>
                        <div class="col-md-2">
                            <label class="font-weight-bold">Estado</label>
                        </div>
                        <div class="col-md-4">
                            <fg:text as="span" classes="badge badge-primary" value="#{vValidarFactura.factura.estado.descripcion()}" coalesce="#{bFormat.nd}" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label class="font-weight-bold">Fecha de Registro</label>
                        </div>
                        <div class="col-md-4">
                            <fg:text value="#{vValidarFactura.factura.fechaRegistro}" coalesce="#{bFormat.nd}">
                                <fg:dateConverter />
                            </fg:text>
                        </div>
                        <div class="col-md-2">
                            <label class="font-weight-bold">Fecha de Emisión</label>
                        </div>
                        <div class="col-md-4">
                            <fg:text value="#{vValidarFactura.factura.fechaEmision}" coalesce="#{bFormat.nd}">
                                <fg:dateConverter />
                            </fg:text>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label class="font-weight-bold">Nro. Orden de Compra</label>
                        </div>
                        <div class="col-md-10">
                            <fg:text value="#{vValidarFactura.ordenCompra.nroDocumento}" coalesce="#{bFormat.nd}" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label class="font-weight-bold">Proveedor</label>
                        </div>
                        <div class="col-md-10">
                            <fg:text value="#{vValidarFactura.ordenCompra.razonSocialDestino}" coalesce="#{bFormat.nd}" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label class="font-weight-bold">RUC</label>
                        </div>
                        <div class="col-md-10">
                            <fg:text value="#{vValidarFactura.ordenCompra.rucDestino}" coalesce="#{bFormat.nd}" />
                        </div>
                    </div>
                    <div class="row mt-3">
                        <o:form includeRequestParams="true">
                            <fg:button look="success" title="ACEPTAR">
                                <fg:ajax event="click" update="@all" listener="#{vValidarFactura.initAceptarFactura}" />
                            </fg:button>
                            &nbsp;
                            <fg:button look="danger" title="RECHAZAR">
                                <fg:ajax event="click" update="@all" listener="#{vValidarFactura.initRechazarFactura}" />
                            </fg:button>
                        </o:form>
                    </div>
                </div>
            </div>
        </div>

        <div class="card shadow-sm">
            <div class="card-body">
                <fg:table id="tabla_datos" var="item" model="#{vValidarFactura.facturaDetalleModel}" bordered="true" striped="false" showPaginator="false">
                    <fg:tableColumn header="Producto" styles="width: 80%;">
                        <div class="container-fluid">
                            <div class="container-fluid">
                                <div class="row my-3 h5 font-weight-bold">
                                    <div class="col-md-12">
                                        <fg:text value="#{item.productoEntregable.producto.descripcionCorta}" coalesce="#{bFormat.nd}" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <label class="font-weight-bold">Cód. Interno</label>
                                    </div>
                                    <div class="col-md-4">
                                        <fg:text value="#{item.productoEntregable.producto.codigoInterno}" coalesce="#{bFormat.nd}" />
                                    </div>
                                    <div class="col-md-2">
                                        <label class="font-weight-bold">Cód. GTIN</label>
                                    </div>
                                    <div class="col-md-4">
                                        <fg:text value="#{item.productoEntregable.producto.codigoGtin}" coalesce="#{bFormat.nd}" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <label class="font-weight-bold">Marca</label>
                                    </div>
                                    <div class="col-md-4">
                                        <fg:text value="#{item.productoEntregable.producto.marca}" coalesce="#{bFormat.nd}" />
                                    </div>
                                    <div class="col-md-2">
                                        <label class="font-weight-bold">Procedencia</label>
                                    </div>
                                    <div class="col-md-4">
                                        <fg:text value="#{item.productoEntregable.producto.paisProcedencia}" coalesce="#{bFormat.nd}" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <label class="font-weight-bold">Lote</label>
                                    </div>
                                    <div class="col-md-4">
                                        <fg:text value="#{item.productoEntregable.loteOrigen}" coalesce="#{bFormat.nd}" />
                                    </div>
                                    <div class="col-md-2">
                                        <label class="font-weight-bold">Vencimiento</label>
                                    </div>
                                    <div class="col-md-4">
                                        <fg:text value="#{item.productoEntregable.fechaVencimiento}" coalesce="#{bFormat.nd}">
                                            <fg:dateConverter format="MMM/yyyy" />
                                        </fg:text>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <label class="font-weight-bold">Fecha Tentativa de Entrega</label>
                                    </div>
                                    <div class="col-md-10">
                                        <fg:text value="#{item.productoEntregable.fechaEntregaTentativa}" coalesce="#{bFormat.nd}">
                                            <fg:dateConverter format="dd/MMM/yyyy" />
                                        </fg:text>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <label class="font-weight-bold">Fecha Agendada de Entrega</label>
                                    </div>
                                    <div class="col-md-10">
                                        <fg:text value="#{item.productoEntregable.fechaEntregaAgendada}" coalesce="#{bFormat.nd}">
                                            <fg:dateConverter format="dd/MMM/yyyy" />
                                        </fg:text>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-2">
                                        <label class="font-weight-bold">Observaciones</label>
                                    </div>
                                    <div class="col-md-10">
                                        <fg:text value="#{bFormat.text.count(item.observaciones)}" coalesce="0" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <fg:if value="#{item.observaciones.isEmpty() eq false}">
                                            <div class="my-3 p-3 alert alert-danger">
                                                <ul>
                                                    <ui:repeat var="observacion" value="#{item.observaciones}">
                                                        <fg:text as="li" value="#{observacion.descripcion}" coalesce="#{bFormat.nd}" />
                                                    </ui:repeat>
                                                </ul>
                                            </div>
                                        </fg:if>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fg:tableColumn>
                    <fg:tableColumn header="Cantidad Remitida" classes="text-center" styles="width: 5%;">
                        <fg:text value="#{item.cantidad}" />
                    </fg:tableColumn>
                    <fg:tableColumn header="Precio Unitario" classes="text-right" styles="width: 10%;">
                        <fg:text value="#{bFormat.text.monto(item)}" />
                    </fg:tableColumn>
                    <fg:tableColumn header="Opciones" styles="width: 5%;">
                        <fg:tableButton classes="btn btn-outline-info btn-block" title="Agregar Observación" icon="search" listener="#{vValidarFactura.initAgregarObservacion}" />
                        <br/>
                        <fg:tableButton classes="btn btn-outline-info btn-block" title="Agendar Entrega" icon="calendar-check" listener="#{vValidarFactura.initAgendarEntrega}" />
                    </fg:tableColumn>
                </fg:table>
            </div>
        </div>

        <!-- CUADRO DE DIALOGO PARA INGRESO DE OBSERVACIONES -->
        <div class="modal" id="agregar_observacion_dialog" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <o:form includeRequestParams="true">
                        <div class="modal-body">
                            <p>Observación</p>

                            <!-- OBSERVACION -->
                            <fg:inputTextArea class="form-control" value="#{vValidarFactura.agregarObservacionInput.observacion}" rows="4" />

                            <!-- AREA DE ERRORES -->
                            <div id="agregar_observacion_dialog_msg_area" class="my-3 alert alert-danger d-none" role="alert">
                                <button type="button" class="close" onclick="hideDialogErrors(this);">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <!-- PLACEHOLDER PARA MENSAJE DE ERROR -->
                                <ul class="list-unstyled" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <fg:button look="primary" title="Confirmar">
                                <fg:ajax event="click" process="@form" update="@form" listener="#{vValidarFactura.confirmarAgregarObservacion}" />
                            </fg:button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        </div>
                    </o:form>
                </div>
            </div>
        </div>

        <!-- CUADRO DE DIALOGO PARA INGRESO DE FECHA AGENDADA DE ENTREGA -->
        <div class="modal" id="agendar_entrega_dialog" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <o:form includeRequestParams="true">
                        <div class="modal-body">
                            <p>Agendar Entrega</p>

                            <!-- FECHA DE ENTREGA -->
                            <fg:inputDate class="form-control" value="#{vValidarFactura.agendarEntregaInput.fechaEntrega}" />

                            <!-- AREA DE ERRORES -->
                            <div id="agendar_entrega_dialog_msg_area" class="my-3 alert alert-danger d-none" role="alert">
                                <button type="button" class="close" onclick="hideDialogErrors(this);">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <!-- PLACEHOLDER PARA MENSAJE DE ERROR -->
                                <ul class="list-unstyled" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <fg:button look="primary" title="Confirmar">
                                <fg:ajax event="click" process="@form" update="@form" listener="#{vValidarFactura.confirmarAgendarEntrega}" />
                            </fg:button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        </div>
                    </o:form>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            function showDialog(id) {
                var el = document.getElementById(id);
                $(el).modal('show');
            }

            function hideDialog(id) {
                var el = document.getElementById(id);
                $(el).modal('hide');
            }

            function hideDialogErrors(el) {
                $(el).closest('.alert').addClass('d-none');
            }

            function showDialogErrors(id, msg0) {
                var msg = msg0 || 'Error';
                var el = document.getElementById(id);
                $alert = $(el);
                $alert.find('ul').html('<li>' + msg + '</li>');
                $alert.removeClass('d-none');
            }
        </script>
    </ui:define>

</ui:composition>