<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:fg="http://fags/jsf/components"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:o="http://omnifaces.org/ui"
    template="/fragments/base.xhtml"
    >

    <ui:define name="content">
        <div class="container h-100">
            <div class="row align-items-center h-100">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mx-auto">

                    <!-- MENSAJE DE SESION INICIADA -->
                    <fg:ifIsAuthenticated>
                        <div class="jumbotron">
                            <div class="h2">
                                Sesión Iniciada
                            </div>
                            <br/>
                            <p class="leading">
                                Usted ya ha iniciado sesión en la plataforma.
                            </p>
                        </div>
                    </fg:ifIsAuthenticated>

                    <!-- FORMULARIO DE INICIO DE SESION -->
                    <fg:ifIsNotAuthenticated>
                        <div class="card">
                            <div class="card-header">
                                Inicio de Sesión
                            </div>
                            <div class="card-body">
                                <o:form class="form form-horizontal">
                                    <div class="form-group row">
                                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                            <label>Usuario</label>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                            <fg:inputText value="#{vLogin.username}" formId="username" />
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                            <label>Contraseña</label>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                            <fg:inputText value="#{vLogin.password}" formId="password" />
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <fg:button title="Ingresar" icon="sign-in-alt">
                                                <fg:ajax event="click" process="@form" update="@form" listener="#{vLogin.onLogin}" />
                                            </fg:button>
                                        </div>
                                    </div>

                                    <div class="form-group row" style="margin-bottom: 0px;">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <fg:messages of="login-errors" look="error" />
                                        </div>
                                    </div>
                                </o:form>
                            </div>
                        </div>
                        <script type="text/javascript">
                            $(document).ready(function () {
                                $('#username').focus();
                            });
                        </script>
                    </fg:ifIsNotAuthenticated>
                </div>
            </div>
        </div>


    </ui:define>

</ui:composition>
