<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    template="/fragments/base_with_sidebar.xhtml">

    <ui:define name="content-main">
        <!-- TITULO -->
        <div class="p-5 border-bottom">
            <div class="h2 m-0">
                <ui:insert name="content-title" />
            </div>
        </div>

        <!-- CONTENIDO -->
        <!--
         ** Calculo:
         ** La clase 'p-5' agrega al area de titulo 3rem de padding vertical, 6rem en total.
         ** La clase 'border-bottom' agrega al area de titulo 1px de borde inferior.
         ** La clase 'h2' agrega al area de titulo 2rem de altura.        
        -->
        <div class="p-5 bg-light" style="min-height: calc(100% - 8rem - 1px) !important;">
            <ui:insert name="content-body" />
        </div>
    </ui:define>

</ui:composition>