<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    lang="es"
    style="font-size: 14px !important;"
    >

    <h:head>
        <title>Recepción</title>
        <meta charset="utf-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />

        <!-- Estilos -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto"></link>
        <h:outputStylesheet library="recepcion.static" name="/app/main.css" data-priority="1000" />
        <ui:insert name="styles" />

        <!-- Scripts -->
        <h:outputScript library="recepcion.static" name="/app/main.js" data-priority="1000" />
        <ui:insert name="scripts" />
    </h:head>

    <h:body>
        <div class="area-wrapper">
            <!-- CABECERA -->
            <div class="area-navbar">
                <ui:include src="/fragments/navbar.xhtml" />
            </div>

            <!-- CONTENIDO CENTRAL -->
            <div class="area-body">
                <ui:insert name="content" />
            </div>
        </div>

        <script type="text/javascript">
            $(document).ready(function () {
                Fags.init();
                Main.init();
            });
        </script>
    </h:body>

</html>
