<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    template="/fragments/base.xhtml"
    >

    <ui:define name="content">
        <div class="container h-100">
            <div class="row align-items-center h-100">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mx-auto">
                    <div class="jumbotron">
                        <div class="h2">
                            <ui:insert name="titulo" />
                        </div>
                        <br/>
                        <p class="leading">
                            <ui:insert name="contenido" />
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </ui:define>

</ui:composition>