<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    template="/fragments/base.xhtml">

    <ui:define name="content">
        <!-- SIDEBAR -->
        <div class="area-sidebar-left sidebar-open">
            <ui:include src="/fragments/sidebar.xhtml" />
        </div>

        <!-- CONTENIDO CENTRAL -->
        <div class="area-sidebar-right sidebar-open">
            <ui:insert name="content-main" />
        </div>

        <h:outputScript library="recepcion.static" name="/app/sidebar.js" />
        <script type="text/javascript">
            $(document).ready(function () {
                Sidebar.init();
            });
        </script>
    </ui:define>

</ui:composition>