<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:fg="http://fags/jsf/components"
      lang="es"
      >

    <fg:tableColumn header="Producto" styles="width: 80%;">
        <div class="container-fluid">
            <div class="container-fluid">
                <div class="row my-3 h5 font-weight-bold">
                    <div class="col-md-12">
                        <fg:text value="#{item.productoEntregable.producto.descripcionCorta}" coalesce="#{bFormat.nd}" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label class="font-weight-bold">Cód. Interno</label>
                    </div>
                    <div class="col-md-4">
                        <fg:text value="#{item.productoEntregable.producto.codigoInterno}" coalesce="#{bFormat.nd}" />
                    </div>
                    <div class="col-md-2">
                        <label class="font-weight-bold">Cód. GTIN</label>
                    </div>
                    <div class="col-md-4">
                        <fg:text value="#{item.productoEntregable.producto.codigoGtin}" coalesce="#{bFormat.nd}" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label class="font-weight-bold">Marca</label>
                    </div>
                    <div class="col-md-4">
                        <fg:text value="#{item.productoEntregable.producto.marca}" coalesce="#{bFormat.nd}" />
                    </div>
                    <div class="col-md-2">
                        <label class="font-weight-bold">Procedencia</label>
                    </div>
                    <div class="col-md-4">
                        <fg:text value="#{item.productoEntregable.producto.paisProcedencia}" coalesce="#{bFormat.nd}" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label class="font-weight-bold">Lote</label>
                    </div>
                    <div class="col-md-4">
                        <fg:text value="#{item.productoEntregable.loteOrigen}" coalesce="#{bFormat.nd}" />
                    </div>
                    <div class="col-md-2">
                        <label class="font-weight-bold">Vencimiento</label>
                    </div>
                    <div class="col-md-4">
                        <fg:text value="#{item.productoEntregable.fechaVencimiento}" coalesce="#{bFormat.nd}">
                            <fg:dateConverter format="MMM/yyyy" />
                        </fg:text>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label class="font-weight-bold">Fecha Tentativa de Entrega</label>
                    </div>
                    <div class="col-md-10">
                        <fg:text value="#{item.productoEntregable.fechaEntregaTentativa}" coalesce="#{bFormat.nd}">
                            <fg:dateConverter format="dd/MMM/yyyy" />
                        </fg:text>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label class="font-weight-bold">Fecha Agendada de Entrega</label>
                    </div>
                    <div class="col-md-10">
                        <fg:text value="#{item.productoEntregable.fechaEntregaAgendada}" coalesce="#{bFormat.nd}">
                            <fg:dateConverter format="dd/MMM/yyyy" />
                        </fg:text>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-2">
                        <label class="font-weight-bold">Observaciones</label>
                    </div>
                    <div class="col-md-10">
                        <fg:text value="#{bFormat.text.count(item.observaciones)}" coalesce="0" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <fg:if value="#{item.observaciones.isEmpty() eq false}">
                            <div class="my-3 p-3 alert alert-danger">
                                <ul>
                                    <ui:repeat var="observacion" value="#{item.observaciones}">
                                        <fg:text as="li" value="#{observacion.descripcion}" coalesce="#{bFormat.nd}" />
                                    </ui:repeat>
                                </ul>
                            </div>
                        </fg:if>
                    </div>
                </div>
            </div>
        </div>
    </fg:tableColumn>
    <fg:tableColumn header="Cantidad" classes="text-center" styles="width: 10%;">
        <fg:text value="#{item.cantidad}" />
    </fg:tableColumn>
    <fg:tableColumn header="Precio Unitario" classes="text-right" styles="width: 10%;">
        <fg:text value="#{bFormat.text.monto(item)}" />
    </fg:tableColumn>

</html>