<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    template="/fragments/base_only_text.xhtml"
    >

    <ui:define name="titulo">Página No Encontrada</ui:define>
    <ui:define name="contenido">Lo sentimos, la página solicitada no ha sido encontrada. La misma pudo ser removida, cambiada de nombre o estar temporalmente deshabilitada.</ui:define>

</ui:composition>