<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:fg="http://fags/jsf/components"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:o="http://omnifaces.org/ui"
    template="/fragments/base_title_content.xhtml"
    >

    <ui:define name="content-title">
        Órdenes de Compra
    </ui:define>

    <ui:define name="content-body">
        <div class="card mb-5 shadow-sm">
            <div class="card-header bg-white">
                Búsqueda
            </div>
            <div class="card-body">
                <form class="form form-horizontal container-fluid">
                    <div class="row">
                        <label class="col-form-label col-xs-6 col-sm-3 col-md-2 col-lg-1 mb-1">Razón Social Proveedor</label>
                        <input type="text" class="form-control col-xs-6 col-sm-3 col-md-2 col-lg-2 mb-1"></input>

                        <label class="col-form-label col-xs-6 col-sm-3 col-md-2 col-lg-1 mb-1">RUC Proveedor</label>
                        <input type="text" class="form-control col-xs-6 col-sm-3 col-md-2 col-lg-2 mb-1"></input>
                    </div>
                </form>
            </div>
        </div>

        <div class="card shadow-sm">
            <div class="card-body">
                <fg:table var="item" model="#{vOrdenesCompra.model}" bordered="true" striped="false" showPaginator="true">
                    <fg:tableColumn header="Datos" styles="width: 70%;">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-2">
                                    <label class="font-weight-bold">Nro. Documento</label>
                                </div>
                                <div class="col-md-4">
                                    <fg:text value="#{item.nroDocumento}" coalesce="#{bFormat.nd}" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label class="font-weight-bold">Fecha de Registro</label>
                                </div>
                                <div class="col-md-4">
                                    <fg:text value="#{item.fechaRegistro}" coalesce="#{bFormat.nd}">
                                        <fg:dateConverter />
                                    </fg:text>
                                </div>
                                <div class="col-md-2">
                                    <label class="font-weight-bold">Fecha de Emisión</label>
                                </div>
                                <div class="col-md-4">
                                    <fg:text value="#{item.fechaEmision}" coalesce="#{bFormat.nd}">
                                        <fg:dateConverter />
                                    </fg:text>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label class="font-weight-bold">Proveedor</label>
                                </div>
                                <div class="col-md-4">
                                    <fg:text value="#{item.razonSocialDestino}" coalesce="#{bFormat.nd}" />
                                </div>
                                <div class="col-md-2">
                                    <label class="font-weight-bold">RUC</label>
                                </div>
                                <div class="col-md-4">
                                    <fg:text value="#{item.rucDestino}" coalesce="#{bFormat.nd}" />
                                </div>
                            </div>
                        </div>
                    </fg:tableColumn>
                    <fg:tableColumn header="Estado" classes="text-center" styles="width: 10%;">
                        <fg:text as="span" classes="btn btn-primary btn-block" value="#{item.estado.descripcion()}" coalesce="#{bFormat.nd}" />
                    </fg:tableColumn>
                    <fg:tableColumn header="Opciones" classes="text-center" styles="width: 20%;">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <fg:tableButton classes="btn btn-outline-info btn-block" listener="#{vOrdenesCompra.verDetalles}">
                                        <fg:icon value="search" />&nbsp;Ver Detalles
                                    </fg:tableButton>
                                </div>
                            </div>
                        </div>
                    </fg:tableColumn>
                </fg:table>
            </div>
        </div>
    </ui:define>

</ui:composition>